<div class="container">
  <h1><%= "Add a movie to #{@list.name}" %></h1>
  <br>

  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>

  <br>


<%= link_to 'Go back to the list', list_path(@list) %>



</div>




